html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  margin-top: -22px;
}

header {
  height: 100vh;
  text-align: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

header h1 {
  font-size: 36px;
  color: #fff;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 100%;
}

header h2 {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 60%;
  z-index: 1;
  width: 100%;
  margin-top: 40px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
}

.about-me {
  margin-bottom: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
  padding: 20px;
}

.about-me img {
  float: left;
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.overlay img {
  width: 200px;
  height: auto;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.about-me h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.border-image {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  box-shadow: 0 0px 10px;
  z-index: 3;
  position: relative;
  top: 40%;
  object-position: center top;

  left: 50%;
  transform: translate(-50%, -50%);
}

.about-me p {
  font-style: italic;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: #f5f5f5;
}

.list-project {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-content: center;
  
}

.list-project div {
  height: 200px;
  box-shadow: 0 2px 10px #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  transition: all 1s ease-in-out;
}


.list-project div:hover {
  background-color: #525151;
  color: white;
  transform: translate(10px);
}

@media (min-width: 768px) {
  .list-project {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .list-project {
    grid-template-columns: 1fr 1fr 1fr;
  }
}